.background-grey {
    background: #7e7e7e;
}

.bg-grey {
    background: #d1d1d1;
}

.bg-darker-grey {
    background: #adadad;
}

.bg-darkest-grey {
    background: #686868;
}

.bg-circle {
    background-image: url(../img/man_left.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: -5.2em !important;
    position: relative;
    z-index: 99999;
}

.price {
    font-weight: 1000;
    color: #00c500;
}

.price:before {
    content: url(../img/price_icon.png);
    padding-right: 5px;
}

.btn-salad {
    background-color: #00c500;
}

.banner-header {
    font-size: 48pt;
    white-space: nowrap;
    margin-top: 1em;
}

.very-bold {
    font-weight: 900;
}

.btn-outline {
    border: 2px solid #00c500;
    color: #fff;
}

.form-control {
    font-family: Arial, FontAwesome;
    height: 50px;
}

.form-select,.big-btn {
    height: 50px;
}

.circle-content {
    margin-top: 6em;
}
